@using WebShop.Data.Implementation

@inject IOrderRepository Order
 <div class="card justify-content-center">
        <div class="card-header"><strong>Total Shipt</strong></div>
        <div class="card-body justify-content-center"><em>0</em></div>
 </div>