@model Product
<div class="row justify-content-center pt-3">
    <div class="col-md-8">
        <div class="card justify-content-center">
            <div class="card-header"><h1>Change Category</h1></div>

            <div class="card-body ">
                <form asp-controller="Product" asp-action="Edit" method="post">
                    <input asp-for="Id" type="hidden" />
                    <div class="row mb-3">
                        <label asp-for="Name" class="col-md-4 col-form-label text-md-end"></label>
                        <div class="col-md-6">
                            <input asp-for="Name" class="form-control" required />
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <label asp-for="Quantity" class="col-md-4 col-form-label text-md-end"></label>
                        <div class="col-md-6">
                            <input asp-for="Quantity" class="form-control" required />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-md-4 col-form-label text-md-end">Categorys</label>
                        <div class="col-md-6">
                           
                                            
                                            <select name="cate" asp-items="@ViewBag.Category"><option value="">Select a Category</option></select>
                                            <span asp-validation-for="Category" class="text-danger"></span>
                                        
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="Description" class="col-md-4 col-form-label text-md-end"></label>
                        <div class="col-md-6">
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-0">
                        <div class="col-md-6 offset-md-4">
                            <input type="submit" class="btn btn-success" value="Save" />
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>        